/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

h1 {
  margin-bottom: 25px;
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  background-color: #87ade6;
  padding: 20px;
  color: #fff;
  font-size: 1.3em;
}

/* Logo styling */
.logo-link {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  fill: #1c3861;
}

/* Navigation styling */
.nav {
  flex-grow: 1;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 20px;
  list-style: none;
}

.nav-item-end {
  /* position: absolute; */
  float: right;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  color: #333;
  transition: color 0.2s ease;
  text-decoration: none;
}

.navbar-end {
  margin-left: auto;
}

.nav-link-end {
  float: right;
  font-size: 12pt;
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.alternate {
  margin-top: 1em;
}

button {
  padding: 5px;
  margin: 5px;
}

/* Table Styling */

.table-container {
  padding: 10px;
}

table {
  width: auto;
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: #fff;
  position: relative;
}

tr:nth-child(even) {
  background-color: #ccc;
}

td,
th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.table-edit-link {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: #87ade6;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

tr:hover .table-edit-link {
  display: flex;
}

.table-edit-link:hover {
  background-color: #4b6a99;
}

.table-row-clickable:hover {
  cursor: pointer;
  color: rgb(81, 132, 209);
}

.fine-container {
  margin-left: 20px;
}

.fine-container h2 {
  margin: 20px 0px;
}

/* Heading styling */

.heading-container {
  padding: 10px;
}

.filter-form input {
  margin: 5px;
}

.filter-form input:first-child {
  margin: 5px 5px 5px 0px;
}

/* Form styling */

.form-container {
  margin: 25px;
}

form p {
  display: inline;
}

.message {
  margin-left: 20px;
}

.register-message {
  margin-top: 15px;
}

.success {
  color: green;
}

.fail {
  color: red;
}

.input-wrapper {
  margin: 10px 10px 10px 0px;
}

.input-wrapper label {
  display: inline-block;
  min-width: 150px;
}

/* Modal Styling */
.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  background-color: rgba(28, 56, 97, 0.7);
}

.modal-inactive {
  display: none;
}

.modal-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #87ade6;
  padding: 1em 2em;
  border-radius: 15px;
}

.modal-header {
  border-bottom: 1px solid white;
  padding-bottom: 1em;
  text-align: center;
}

.modal-body {
  padding: 2em 0em;
}

.modal-footer {
  border-top: 1px solid white;
  padding-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  margin-right: 10px;
}

.modal-footer button:last-of-type {
  margin-right: 0px;
}

.btn-edit-subject {
  margin-left: 5px;
  padding: 0;
  transform: translateY(2px);
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  padding-top: 2px;
}

.btn-edit-subject:hover {
  cursor: pointer;
}

.btn-edit-subject img {
  width: 100%;
  height: 100%;
}

/* Mobile */
@media screen and (max-width: 400px) {
  .header {
    font-size: 1.1em;
  }
}
