/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  background-color: #87ade6;
  padding: 20px;
  color: #fff;
  font-size: 1.3em;
}

/* Logo styling */
.logo-link {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  fill: #1c3861;
}

/* Navigation styling */
.nav {
  flex-grow: 1;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 20px;
  list-style: none;
}

.nav-link {
  color: #333;
  transition: color 0.2s ease;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
}

.active {
  color: #fff;
}

table {
  width: auto;
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: #fff;
  position: relative;
}

tr:nth-child(even) {
  background-color: #ccc;
}

td,
th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.table-button {
  display: none;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: #87ade6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

tr:hover .table-button {
  display: flex;
}

.table-button:hover {
  background-color: #4b6a99;
}

/* Mobile */
@media screen and (max-width: 400px) {
  .header {
    font-size: 1.1em;
  }
}
